<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下单</title>
    <link rel="stylesheet" href="../css/makeOrder.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AsISzZEYKr763HqCEG3LgwZguiuIZfYE"></script>
    <script src="../js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
   <div class="container">
       <div class="content">
           <div class="titleView">
               <span>产品购买</span>
           </div>
           <div class="guideInfo">
               <img src="../images/guides_placeHolder.png" class="guideAvatar">
               <div class="info">
                   <div class="name">
                       <span>昵称</span>
                       <img src="../images/female.png">
                   </div>
                   <div class="commentLevel">
                           <span>评价：</span>
                           <div class="starView">
                               <img src="../images/comment_star_selected.png" v-for=" in level">
                               <img src="../images/comment_star_normal.png" v-for=" in 5-level">
                           </div>
                           <span>（1条评价）</span>
                   </div>
                   <div class="desc">个签：<span>这里是个签</span></div>
               </div>
           </div>
           <div class="package">
               <div class="titleView"><span>套餐选择：</span></div>
               <div class="packageView">
                   <div class="packageBG" id="packageA">套餐A:30张原片+8张精修+4小时</div>
                   <div class="packageBG" id="packageB">套餐B:30张原片+8张精修+4小时</div>
               </div>
               <div class="meetTime">
                   <span class="title">集合时间：</span>
                   <div class="timeView">
                       <span class="top">选择</span>
                       <div class="date" onClick="WdatePicker({el:'meetDate',onpicked:pickedDate})">
                           <span id="meetDate">出行日期</span>
                           <img src="../images/makeorder_downArrow.png" id="dateArrow">
                       </div>
                   </div>
                   <div class="timeView">
                       <span class="top">选择</span>
                       <div class="date"  onClick="WdatePicker({el:'meetTime',onpicked:pickedTime,dateFmt: 'HH:mm'})">
                           <span id="meetTime">出行时间</span>
                           <img src="../images/makeorder_downArrow.png" id="timeArrow">
                       </div>
                   </div>
               </div>
               <div class="location">
                   <span class="title">集合时间：</span>
                   <input class="locationInput" type="text" placeholder="输入你想去的地方" id="suggestId">
                   <img src="../images/makeorder_lookfor.png">
               </div>
               <!--百度地图 关键字输入提示结果-->
               <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>

               <div id="l-map" class="map"></div>
               <div class="textView">
                   <span class="title">备注我吧：</span>
                   <textarea class="text"></textarea>
               </div>
           </div>
           <div class="priceView">

               <div>
                   <span>总价：</span>
                   <span>198元</span>
               </div>
               <div class="submitButton">创建订单</div>
           </div>
       </div>
   </div>
</body>
<script>
    var vm = new Vue({
        el:'.content',
        data:{
            level:3
        }
    })
    //  套餐选择
    selectedID = '#packageA'
    $(selectedID).css({'border':'1px solid #498fca','color': '#498fca'})
    $('.packageBG').on('click',function () {
        $(selectedID).css({'border':'1px solid #cccccc','color': '#666666'})
        $(this).css({'border':'1px solid #498fca','color': '#498fca'})
        var id = $(this).attr('id')
        selectedID = '#'+id;
    })



    // 初始化日历控件
    function createTime(){
        WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2017-12-01',maxDate:'2022-01-01'});
    }
    function pickedDate(){
        $('#dateArrow').css('display','none');
    }
    function pickedTime(){
        $('#timeArrow').css('display','none');
    }

//    创建订单
    $('.submitButton').on('click',function () {



    })



    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("杭州",12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {"input" : "suggestId"
            ,"location" : map
        });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

</script>
</html>