<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" href="../css/order.css">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <iframe id="naviframe" src="../navigation/navigation.html" frameborder="0" scrolling="no" class="nav"></iframe>
    <div class="container">
        <div class="tool">
           <ul >
               <li id="li1" onclick="toolClick('#li1')">旅行纪念订单</li>
               <li id="li2" onclick="toolClick('#li2')">旅行管家订单</li>
               <li id="li3" onclick="toolClick('#li3')">设置</li>
           </ul>
        </div>
        <div class="order">
            <div class="status">
               <ul>
                   <li id="status1" >申请中</li>
                   <li id="status2">进行中</li>
                   <li id="status3">已完成</li>
               </ul>
            </div>
            <div class="cellList">
                <div class="cell" id="normalOrder" v-for="item in normalOrderList">
                    <div class="orderStatus">
                        <span>待支付：{{item.total_amount}}元</span>
                        <span>{{item.status}}</span>
                    </div>
                    <div class="content">
                        <img :src="item.guide_avatar">
                        <div class="info">
                            <span> 途友 {{item.guide_name}}</span>
                            <span > {{item.time}}</span>
                            <span >{{item.location}}</span>
                        </div>
                    </div>
                </div>
                <div class="cell" id="managerOrder" v-for="item in managerOrderList">
                    <div class="orderStatus">
                        <span>待支付：{{item.price}}元</span>
                        <span>{{item.status}}</span>
                    </div>
                    <div class="location">
                        <span>{{item.fromLocation}}-{{item.toLocation}}</span>
                    </div>
                    <div class="time">
                        <span>{{item.leaveTime}} 出游/5天定制游</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="pageNum" >1</div>
            <div class="nextPage">下一页</div>
            <div class="prePage">上一页</div>
        </div>
        <div class="setting">
            <div class="settingTool">
                <!--<ul>-->
                    <!--<li id="setting1" >修改密码</li>-->
                    <!--<li id="setting2">绑定微信</li>-->
                <!--</ul>-->
                修改密码
            </div>
            <div class="pwd" id="pwd">
                 <span class="dic">密码长度6-16位，由英文字母（区分大小写）、数字0-9、特殊字符，至少两种组合而成</span>
                 <div class="inputView">
                     <span>原始密码</span>
                     <input type="text" placeholder="请填写原始密码">
                 </div>
                <div class="inputView">
                    <span>新的密码</span>
                    <input type="text" placeholder="请填写新的密码">
                </div>
                <div class="inputView">
                    <span>确认密码</span>
                    <input type="text" placeholder="请确认新密码">
                </div>
            </div>
            <div class="bindWX" id="bindWX">

            </div>
        </div>
    </div>

    <iframe src="../footer/footer.html" frameborder="0" scrolling="no" class="footer"></iframe>
<!--<object class="footer" type="text/html" data="../footer/footer.html" ></object>-->
</body>
<script>

    var statusSelected = '#status1';
    var toolSelected = '#li1';
    var settingSelected = '#setting1';

   var vm = new Vue({
       el:'.container',
       data:{
//           toolSelected:'#li',
           normalOrderList:[],
           managerOrderList:[]
       },
       computer:function () {


       }
   })

    var guide_applications = [{
        applicant:{},
        guide :{cover_photo: "guide/coverPhoto/qiuqiu_photoCover.jpg",name:"球球",gender:0,total_amount:"198.00",level:5,total_serving_orders:20},
        location:"浙江省杭州市江干区景昙路18-26号",
        package : "A" ,
        start_time : "2018-01-20 09:01:00",
        status : 100,
        total_amount : "198.00",
        user_request : null,

    },{
        applicant:{},
        guide :{cover_photo: "guide/coverPhoto/qiuqiu_photoCover.jpg",name:"球球",gender:0,hourl_rate:"198.00",level:5,total_serving_orders:20},
        location:"浙江省杭州市江干区景昙路18-26号",
        package : "A" ,
        start_time : "2018-01-20 09:01:00",
        status : 100,
        total_amount : "198.00",
        user_request : null
    }];
    function handleData(responseData){

        var orderList = new Array();
        responseData.forEach(function (value,index, arr) {

            var arrDict = new Array();
            arrDict['guide_avatar']  = "http://ovc3poav6.bkt.clouddn.com/"+value.guide.cover_photo
            arrDict['guide_name'] = value.guide.name
            arrDict['guide_gender'] = value.guide.gender
            arrDict['guide_level'] = value.guide.level
            arrDict['guide_hourl_rate'] = value.guide.hourl_rate
            arrDict['guide_total_serving_orders'] = value.guide.total_serving_orders

            arrDict['time'] = value.start_time
            if (value.package == 'A'){
                arrDict['package'] == '套餐A（至少30张原图+10张精修）'
            }else{
                arrDict['package'] == '套餐B（至少50张原图+15张精修）'
            }

            switch (value.status){
                case 100:{
                    arrDict["status"] = "未付款"
                    break
                }
                case 300:{
                    arrDict["status"] = "等待导游接单"
                    break;
                }
                case 400:{
                    arrDict["status"] = "等待出行"
                    break;
                }
                case 401:{
                    arrDict["status"] = "订单进行中"
                    break;
                }
                case 510:{
                    arrDict["status"] = "订单已取消"
                    break;
                }
                case 500:{
                    arrDict["status"] = "订单等待评价"
                    break;
                }
                case 600:{
                    arrDict["status"] = "订单已评价"
                    break;
                }
                case 410:{
                    arrDict["status"] = "订单已拒绝"
                    break;
                }
                case 501:{
                    arrDict["status"] = "投诉处理中"
                    break;
                }
                case 10:{
                    arrDict["status"] = '已申诉'
                    break;
                }
            }

            arrDict['location'] = value.location
            arrDict['total_amount'] = value.total_amount
            arrDict['user_request'] = value.user_request

            vm.normalOrderList.push(arrDict)
        })
    }
    handleData(guide_applications)



//    导航到订单详情
    $('#normalOrder').on('click',function () {
        window.open('../orderDetail/orderDetail.html')
    })
    $('#managerOrder').on('click',function () {
        window.open('../orderDetail_consult/orderDetail_consult.html')
    })



   // tool
    var afterUrl =  window.location.search.substring(1);
//   alert(afterUrl);
   if (afterUrl !=''){
       var afterEqual = afterUrl.substring(afterUrl.indexOf('=')+1)
       if (afterEqual!='')
       {
           var toolId = '#'+afterEqual
           toolClick(toolId)
//           changeOrder(afterEqual)

       }
   }else {

       toolClick(toolSelected)
   }


//  $('.tool li').on('click',function(){
//      alert('click');
//
//      $(toolSelected).css('color','#ffffff');
//      $(this).css('color','#498fca');
//      var id = $(this).attr('id');
//      toolSelected = '#'+id;
//      changeOrder(id)
//  })
    function toolClick(toolId) {

        $(toolSelected).css('color','#ffffff');
        $(toolId).css('color','#498fca');
        var id = $(toolId).attr('id');
        toolSelected = '#'+id;
        changeOrder(id)
    }

   function changeOrder(toolid) {
      switch (toolid){
          case 'li1':
          {
              $(".order").css('display','flex');
              $(".setting").css('display','none');

              $("#normalOrder").css('display','block');
              $("#managerOrder").css('display','none');
             break;
          }
          case 'li2':
          {
//              alert(afterEqual)
              $('#status1').click()
              $(".order").css('display','flex');
              $(".setting").css('display','none');

              $("#normalOrder").css('display','none');
              $("#managerOrder").css('display','block');
              break;
          }
          case 'li3':
          {
              $(".order").css('display','none');
              $(".setting").css('display','flex');
              break;
          }
      }


   }


//   status ---- 传递不同的数据源

   $('.status li').on('click',function(){
//       alert('hello')
       $(statusSelected).css('color','#999999');
       $(this).css('color','#333333');
       var id = $(this).attr('id');
       statusSelected = '#'+id;
       changeStatus_Setting(id)
   })

// setting

   $('.settingTool li').on('click',function(){
       $(settingSelected).css('color','#999999');
       $(this).css('color','#333333');
       var id = $(this).attr('id');
       settingSelected = '#'+id;
       changeStatus_Setting(id)
   })

    
    function changeStatus_Setting(selectedId) {
        switch (selectedId){
            case 'status1':
            {
//                alert(selectedId)
//                分两种情况 纪念订单 和 管家订单
//                alert(toolSelected)


                break;
            }
            case 'status2':
            {
//                alert(selectedId)
//                alert(toolSelected)



                break;
            }
            case 'status3':
            {
//                alert(selectedId)
                break;
            }
//           下面两种情况暂时不用了
            case 'setting1':
            {
                $("#pwd").css('display','flex')
                $("#bindWX").css('display','none')
                break;
            }
            case 'setting2':
            {
                $("#pwd").css('display','none')
                $("#bindWX").css('display','flex')
                break;
            }

        }
    }

//    根据订单数量时候展示页码，进行导航 一页显示4个订单 后台进行分页设置




</script>

</html>