<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link href="../css/orderDetail.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<iframe id="naviframe" src="../navigation/navigation.html" frameborder="0" scrolling="no" class="nav"></iframe>
<iframe src="../orderTool/orderTool.html" id="tooliframe" frameborder="0" scrolling="no" class="orderTool"></iframe>
     <div class="container">
         <div class="left">
           <div class="progress">
               <div class="circle">1</div>
               <div class="line"></div>
               <div class="circle">2</div>
               <div class="line"></div>
               <div class="circle">3</div>
               <div class="line"></div>
               <div class="circle">4</div>
           </div>
            <div class="progressDesc">
                <span class="progressTitle">预约下单</span>
                <span class="progressTitle">途友接单</span>
                <span class="progressTitle">享受服务</span>
                <span class="progressTitle">结束订单</span>
            </div>
           <div class="order">
               <div class="orderStatus">
                   <span><b>订单详情</b></span>
                   <span>{{orderInfo.status}}</span>
               </div>
               <div class="item">
                   <span>地点</span>
                   <span>{{orderInfo.location}}</span>
               </div>
               <div class="item">
                   <span>时间</span>
                   <span>{{orderInfo.time}}</span>
               </div>
               <div class="item">
                   <span>套餐</span>
                   <span>{{orderInfo.plan}}</span>
               </div>
               <div class="item">
                   <span>合计</span>
                   <span>{{orderInfo.totalMoney}}元</span>
               </div>
           </div>
           <div class="button">
             <div class="modifyButton">取消订单</div>
           </div>
         </div>
         <div class="right">
             <div class="cell">
                 <img :src="guideInfo.avatar" class="avatar">
                 <div class="list1">
                     <div class="nameView">
                       <span>{{guideInfo.name}}</span>
                       <img src="../images/female.png" class="gender" v-if="guideInfo.gender==0">
                       <img src="../images/male.png" class="gender" v-else="">
                     </div>
                     <div class="starView">
                         <img src="../images/comment_star_selected.png" v-for=" in guideInfo.level">
                         <img src="../images/comment_star_normal.png" v-for=" in 5-guideInfo.level">
                     </div>
                 </div>
                 <div class="list2">
                     <div class="orderCount">
                         <img src="../images/order_icon.png" class="gender">
                         <span>接单{{guideInfo.serviceCount}}次</span>
                     </div>
                     <span class="price">￥{{guideInfo.price}}元</span>
                 </div>
                 <span class="service">增值服务</span>
                 <div class="serviceView">
                     <div class="serviceItem">
                        <img src="../images/service_check.png">
                        <span>贴心小包</span>
                     </div>
                     <div class="serviceItem">
                         <img src="../images/service_check.png">
                         <span>购票订餐</span>
                     </div>
                     <div class="serviceItem">
                         <img src="../images/service_check.png">
                         <span>跑腿叫车</span>
                     </div>
                 </div>
                 <div class="seeMore">查看更多</div>
             </div>
             <div class="codeView">
                 <span>扫一扫进入友途小程序</span>
                 <img src="../images/orderDetail_code.png">
             </div>
         </div>

     </div>
     <iframe src="../footer/footer.html" frameborder="0" scrolling="no" class="footer"></iframe>
</body>
<script>
    var vm = new Vue({
        el:'.container',
        data:{
           orderInfo:{
               status:'未付款',
               location:'雷峰塔',
               time:'2017-12-12 08:00',
               plan:'套餐A(至少30张原图+10张精修)',
               totalMoney:'198.0'
           },
            guideInfo:{
               name:'球球',
               gender:'0',
               level:3,
               price:'198',
               avatar:'../images/orderDetail_photo.png',
               serviceCount:'10' ,

            }
        }
    })

    //   修改tool栏选中
    var tooliframe = document.getElementById('tooliframe')
    tooliframe.onload = function () {

        tooliframe.contentWindow.toolChange('#li1');
    }

    $(".modifyButton").on('click',function () {
        alert('取消订单')
    })
    $(".seeMore").on('click',function () {
        alert('跳转到导游详情页')
    })

</script>
</html>