body {
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7; }

.nav {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.content {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.orderInfo {
  width: 750px;
  height: 225px;
  display: flex;
  align-items: center;
  margin: 16px 0px 20px 0px;
  border: 1px solid #e5e5e5; }

.orderInfo img {
  width: 240px;
  height: 180px;
  margin-left: 20px; }

.info {
  margin-right: 30px;
  width: 430px;
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.info span {
  font-size: 20px;
  margin-bottom: 5px; }

.info span:first-of-type {
  color: #333333; }

.info span:last-of-type {
  color: #666; }

.desc {
  color: #999;
  font-size: 18px;
  margin-top: 20px; }

.impress, .starTitle {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px; }

.impressTitle, .starTitle span {
  font-size: 18px;
  color: #666666; }

.attitude {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px; }

.overComment {
  padding: 2px 15px 2px 15px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  color: #999999;
  font-size: 16px; }

.overCommentSub:hover {
  background-color: #ffffff;
  color: #498fca;
  border: 2px solid #498fca; }

.starImg {
  display: flex;
  align-items: center;
  margin-left: 40px; }

.star {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer; }

.comtool {
  width: 750px;
  height: 60px;
  background-color: #f7f7f7;
  display: flex;
  margin-top: 20px;
  align-items: center; }

.upload {
  width: 64px;
  height: 34px;
  background-color: #498fca;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px; }

.comtool span {
  font-size: 16px;
  color: #999999; }

.commentContent {
  border: 1px solid #f7f7f7;
  border-top: 0px;
  width: 730px;
  height: 160px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px; }

.noti {
  font-size: 16px;
  color: #999999;
  margin-top: 10px; }

.button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px; }

.modifyButton {
  width: 150px;
  height: 40px;
  background-color: #498fca;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.complainItem {
  display: flex;
  align-items: center; }

.complainItem span {
  font-size: 20px;
  color: #333333;
  margin-right: 14px; }

.reasonSelect {
  width: 220px;
  height: 30px;
  outline: none;
  background-color: #ffffff;
  font-size: 18px;
  color: #666666; }

.complainReason {
  display: flex;
  margin-top: 60px; }

.complainReason span {
  font-size: 20px;
  color: #333333;
  margin-right: 10px; }

.complainReason textarea {
  width: 400px;
  height: 130px;
  margin-left: 10px;
  border: 1px solid #e5e5e5;
  outline: none;
  font-size: 18px;
  color: #333333; }

.complainReason input {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  outline: none;
  font-size: 18px;
  color: #333333; }

.uploadImg {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  font-size: 18px;
  color: #333333;
  margin-left: 10px; }

.noti {
  font-size: 14px;
  color: #999999; }

.submit {
  font-size: 18px;
  color: #ffffff;
  background-color: #498fca;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 120px 150px; }

.footer {
  width: 100%;
  height: 260px; }

.orderTool {
  width: 100%;
  height: 50px;
  margin-top: 60px; }

/*# sourceMappingURL=comment.css.map */
