body{
  padding: 0px;
  margin: 0px;
}
.navgation{
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  min-width: 1000px;
}
.navgation img{
  margin-left: 12.2%;
}
.navgation div:nth-of-type(1){
  margin-left: 40px;
}
.navgation a{
  /*display: block;*/
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.navButton{
  /*background-color: brown;*/
  border:0px;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1{
  width: 100%;
  margin-top: 60px;
  min-width: 1000px;
}
p{
  margin: 0px;
}
.banner_img{
  width: 100%;
  height: auto;
}
.row2{
  width: 100%;
  min-width: 1000px;
  @media screen and (min-width: 1000px){
    height: 450px;
  }
  @media screen and (max-width: 1000px){
    height: 233px;
  }

  background-color: orange;
  margin-top:-5px;
  display: flex;

}
.row2_left,.row2_right{
  width: 33.3%;
  height: 100%;
  background-color: #cecfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row2_left div:first-child,.row2_right div:first-child{

  color: #fff;
  @media screen and (min-width: 1000px){
    font-size: 18px;
    padding-top: 60px;
  }
  @media screen and (max-width: 1000px){
    font-size: 9px;
    padding-top: 30px;
  }
  /*background-color: oldlace;*/
}
.row2_left div:nth-child(2),.row2_right div:nth-child(2){
  //font-size: 36px;
  @media screen and (min-width: 1000px){
    font-size: 36px;
  }
  @media screen and (max-width: 1000px){
    font-size: 18px;
  }
  color: #fff;
  /*background-color: #1b6d85;*/
}
.row2_left div:nth-child(3),.row2_right div:nth-child(3){
  background-color: #fff;
  width: 9.3%;
  height: 2px;
  //margin-top: 15px;
  @media screen and (min-width: 1000px){
    margin-top: 15px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 7px;
  }
}
.row2_left div:last-child,.row2_right div:last-child{
  //margin-left: 65px;
  //margin-right: 65px;
  //font-size: 20px;
  color: #fff;
  //margin-top: 22px;
  //line-height: 36px;
  @media screen and (min-width: 1000px){
    margin-top: 22px;
    line-height: 36px;
    margin-left: 65px;
    margin-right: 65px;
    font-size: 20px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 12px;
    line-height: 18px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10px;
  }

}
.row2_center{
  width: 33.3%;
  height: 100%;
  /*background-color: #1b6d85;*/
  background-image: url("../images/video_bg.png");
  background-size: 100% 100%;
}

.maskView{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_bg{
  width: 100%;
  height: 100%;
  background-color: orange;
}
.row2_right{
  background-color: #80dfff;
}
.seperateView{
  width: 100%;
  min-width: 1000px;
  @media screen and (min-width: 1000px){
    height: 46px;
    margin-top: 28px;
  }
  @media screen and (max-width: 1000px){
    height: 30px;
    margin-top: 16px;
  }
  /*background-color: #5cb85c;*/
  display: flex;
  align-items: center;
  justify-content: center;


}
.seperateView div{
  border-top: 2px solid #a7a7a7;
  border-bottom: 2px solid #a7a7a7;
  width: 75%;

}
.seperateView>div>p{
  color: #333333;
  @media screen and (min-width: 1000px){
    font-size: 24px;
    line-height: 42px;
  }
  @media screen and (max-width: 1000px){
    font-size: 15px;
    line-height: 27px;
  }

}
.seperateView>div>p>span{
  color: #333333;

  @media screen and (min-width: 1000px){
    font-size: 18px;
    margin-left: 20px;
  }
  @media screen and (max-width: 1000px){
    font-size: 12px;
    margin-left: 10px;
  }

}
.row3{

  @media screen and (min-width: 1000px){
    margin-top: 28px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 16px;
  }
  width: 100%;
  min-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  /*background-color: orange;*/
}
.row3 div{
  /*width: 64%;*/
  width: 75%;
  height: 100%;
  display: flex;
}
.row3 img{

  @media screen and (min-width: 1000px){
    width: 50%;
    height: 484px;
  }
  @media screen and (max-width: 1000px){
    width: 50%;
    height: 250px;
  }
}
.row4_bg{
  background-color: #d1d1d1;
  width: 100%;
  min-width: 1000px;

  @media screen and (min-width: 1000px){
    height: 540px;
    margin-top: 75px;
  }
  @media screen and (max-width: 1000px){
    height: 320px;
    margin-top: 45px;
  }
  padding-top: 1px;
}
.row4{
  width: 100%;
  min-width: 1000px;

  //background-color: orange;
  display: flex;
  @media screen and (min-width: 1000px){
    margin-top: 20px;
    height: 360px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 12px;
    height: 191px;
  }
}

.business_next,.business_pre{

  @media screen and (min-width: 1000px){
    width: 235px;
    height: 360px;
  }
  @media screen and (max-width: 1000px){
    width: 125px;
    height: 191px;
  }

}
.business_img{

  @media screen and (max-width: 1000px){
    width: 150px;
    height: 191px;
  }

}
.row5{
  width: 100%;
  min-width: 1000px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;

  /*margin-top: 28px;*/
}
.row5>div{
  width: 75%;
  height: 100%;
  /*display: flex;*/


  /*background-color: beige;*/
}
.cell{

  height: auto;
  /*background-color: #5cb85c;*/
  float: left;
  @media screen and (min-width: 1000px){
    margin-top: 44px;
    width: 460px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 20px;
    width: 238px;
  }
}
.cell_margin{

  @media screen and (min-width: 1000px){
    margin-right: 35px;
  }
  @media screen and (max-width: 1000px){
    margin-right: 13px;
  }
}
.cell img{

  margin: 0px;
  @media screen and (min-width: 1000px){
    width: 460px;
    height: 330px;
  }
  @media screen and (max-width: 1000px){
    width: 238px;
    height: 174px;
  }

}
.list1{

  width: 100%;
  /*background-color: orange;*/
  @media screen and (min-width: 1000px){
    margin-top: 20px;
    font-size: 24px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 10px;
    font-size: 15px;
  }
  height: auto;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list1 span:last-child{

  @media screen and (min-width: 1000px){
    font-size: 18px;
  }
  @media screen and (max-width: 1000px){
    font-size: 13px;
  }
}
.list2{
  /*background-color: #2aabd2;*/
  @media screen and (min-width: 1000px){
    margin-top: 10px;
    font-size: 18px;
  }
  @media screen and (max-width: 1000px){
    font-size: 13px;
    margin-top: 5px;
  }
  color: #333;

}
.shortSeperate{

  border-top: 2px solid #a7a7a7;
  border-bottom: 2px solid #a7a7a7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 1000px){
    margin-top: 40px;
    height: 56px;
  }
  @media screen and (max-width: 1000px){
    margin-top: 20px;
    height: 40px;
  }

}
.shortSeperate div:first-child{

  color: #333;
  width: 100%;
  height: auto;
  @media screen and (min-width: 1000px){
    font-size: 16px;
  }
  @media screen and (max-width: 1000px){
    font-size: 13px;
  }

}
.shortSeperate div:last-child{
  @media screen and (min-width: 1000px){
    font-size: 16px;
  }
  @media screen and (max-width: 1000px){
    font-size: 13px;
  }
  color: #333;
  margin-top: 5px;
}
.insert_img{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}
.insert_img img{
  width: 1450px;
  height: 360px;
}
.row6_bg{
  background-color: #d1d1d1;
  width: 100%;
  /*height: 540px;*/
  margin-top: 75px;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row6{
  width: 75%;
  margin-top: 20px;
  margin-bottom: 80px;
}
.row6 img{
  float: left;
}
.row7{
  width: 100%;
  overflow: hidden;
  margin-bottom: 90px;


}
.row7 div{
  margin-top: 46px;
}
.row7 img{
  float: left;
  margin: 0px;
}
.row8{
  margin-top: 80px;
}
.row8 div{
  height: 100%;
  display: flex;
  justify-content: center;
}
.fooder{
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fooder p{
  font-size: 20px;
  color: #333;
}